$fontSize: 16px;
$baseline: 28px;
$gutter: 15px;
$color-text: #525252;

*,
*:before,
*:after { 
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: $fontSize;
	line-height: $baseline;

	&:after {
	    content: "";
	    display: block;
	    position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    background: rgba(0, 0, 0, 0.7);
	    opacity: 0;
	    transition: .2s ease all;
	    visibility: hidden;
	} 

	&.is-active:after {
		opacity: 1;
		visibility: visible;
	}
}

.container {
	max-width: 960px;
	margin: 0 auto;
}

.nav {
	width: 225px;
	height: 100vh;
	background: #f9f9f9;
	padding: $baseline/2 $gutter;

	@media (max-width: 720px) {
		position: fixed;
		top: 0;
		bottom: 0;
		left: -225px;
		overflow-y: scroll;
		z-index: 99;
		transition: .2s ease transform;
	}

	&.is-active {
		transform: translate3d(225px, 0, 0);
	}
}


.nav-list {
	list-style: none;
}

.nav-groupLabel {
	color: lighten($color-text, 25%);
	font-size: $fontSize*.82;
	margin-bottom: $baseline/4;
	&:not(:first-of-type) { margin-top: $baseline }
}

.nav-active .nav-link {
	background: yellow;
}

.nav-link {
	display: block;
	margin-bottom: $baseline/4;
	text-decoration: none;
	color: $color-text;
	transition: transform .1s ease;
	&:hover { 
		color: #0c92f1;
		transform: translate3d(2px, 0, 0);
	}
}

.nav-icon {
	color: #496dcc !important;
	font-size: $fontSize*1.2;
	margin-right: $gutter/2;
}

.nav-icon.nav-icon--contacts { color: #7373e1 }
.nav-icon.nav-icon--sell { color: #4bc469 }
.nav-icon.nav-icon--buy { color: #df647c }
.nav-icon.nav-icon--bank { color: #b45ba1 }
.nav-icon.nav-icon--reports { color: #767676 }
.nav-icon.nav-icon--products { color: #7fc4ce }